/* body{
    display: flex;
    justify-content: center;
} */

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.note {
  background: #f9f9f9;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: #555;
  font-style: italic;
}


button{
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #4CAF50;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /*hover effect */
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 960px;
    height: 960px;
}

.grid-square{
    box-sizing: border-box;
    border: 1px solid #ccc;
    /* background-color: lightcoral; */
}
